.aboutContainer{
    padding: 10px;
}

hr{
    color: hsl(192, 100%, 50%);
}

.mainHeading{
    color: hsl(192, 100%, 50%);
    font-size: 2em;
    font-weight: 100;
}
.bodyText{
    color: hsl(0, 0%, 90%);
}
.languageImagesContainer{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    gap: 15px;
    margin: 20px 20px;
    flex-wrap: wrap;
}
.languageImage{
    width: 50px;
}
.credleyBadgesContainer {
    display: flex;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.credleyBadgesContainer a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 10%)
}
.credleyBadge{
    width: 400px;
    height: 130px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 90%);
    border: 1px solid hsl(0, 0%, 90%);
    padding: 10px;
    border-radius: 10px;
    transition: 0.1s ;
}
.credleyBadge:hover{
    transform: scale(1.01);
}
.credleyBadge h3{
    padding: 2px;
    margin: 0;
    font-weight: 500;
}
.credleyBadge h3{
    padding: 2px;
    margin: 0;
    font-weight: 500;
}


.link{
    text-decoration: none;
    color: hsl(192, 100%, 50%) ;
    border: none;
}


.link:hover{
    color: hsl(0, 0%, 100%);
}
