.homeContainer {
    padding: 50px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('../images/pexels-adrien-olichon-1257089-2931246.jpg') 
                no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer {
    display: flex;
    width: 80%;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
}

.textContainer {
    flex: 1;
    padding-right: 20px;
}

.title {
    font-size: 5rem;
    font-weight: 900;
    color: hsl(192, 100%, 50%);
}

.text {
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.linksContainer {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.contactIcons {
    color: hsl(192, 100%, 50%);
    font-size: 2em;
    cursor: pointer;
    transition: transform 0.3s;
}

.contactIcons:hover {
    color: white;
    transform: scale(1.1);
}

.downloadCVLink {
    text-decoration: none;
}

.downloadCVBtn {
    border: none;
    background-color: hsl(192, 100%, 50%);
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.downloadCVBtn:hover {
    background-color: white;
    transform: scale(1.05);
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileImg {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 5px hsl(192, 100%, 50%);
}

@media screen and (max-width: 768px) {
    .homeContainer{
        height: fit-content;
    }
    .contentContainer {
        flex-direction: column;
        text-align: center;
    }

    .textContainer {
        padding-right: 0;
    }

    .imageContainer {
        margin-top: 20px;
    }
}