body{
    margin:0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 20%);
}


.main-container{
    margin-left: 20%;
    padding: 10px;
    height: 100vh;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .main-container {margin-left: 0;}
  }

h1{
    margin: 0;
    padding-top: 20px;
    font-size: 3rem;
    font-weight: 100;
    color: hsl(192, 100%, 50%);
}
